# Data-Science-Tools-and-Ecosystem
##### *In this notebook, Data Science Tools and Ecosystem are summarized.*
##### **Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- List of development environment open source tools for Data Science
- Arithmetic expressions

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. SQL
5. C++

### Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. SciPy
4. TensorFLow
5. Matplotlib

|Data Science Tools|
|------------------|
|JupyterLab|
|Anaconda|
|Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [30]:
# This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [31]:
# This will convert 200 minutes to hours by diving by 60.

200/60

3.3333333333333335

## Author

Om Sadigale